body {
    margin: 0;
}

footer {
    background-color: black;
}

input[type="email"] {
    margin: 0;
}

.text400 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.text400-2 {
    font-family: sans-serif;
    line-height: 23.5px;
}

.text-400-3 {
    font-family: "Poppins", sans-serif;
    line-height: 23.5px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.button {
    padding: 16px 20px;
    border-radius: 15px 50px;
}

.button-content-header {
    background: #FC552F;
    border: 0;
    color: white;
    width: 166px;
    height: 54px;
    border-width: 2px;
    border-color: white;
}

.header {
    height: 62px;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    line-height: 42px;
    color: #FC552F;
} 

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation-item {
    padding: 10px 20px;
}

.navigation-text {
    text-decoration: none;
    color: #B3B3BA;
}

.container-contant {
    width: 500px;
    height: 719px;
}

.big-container-contant {
    margin-top: 100px;
}

.text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    line-height: 72px;
    color: black;
}

.button-content-main-1 {
    background: #FC552F;
    border: 0;
    color: white;
    width: 194px;
    height: 63px;  
}

.button-content-main-2 {
    background: white;
    border-width: 1.5px;
    border-color: #FC552F;
    color: #FC552F;
    width: 194px;
    height: 63px;   
}

.big-email-div {
    background: #1A1A1F;
    padding: 20px 40px;
    gap: 53px;
    border-radius: 60px;
    border-width: 1px;
}

.text-email-div {
    color: white;
}

.email-div {
    background: black;
    outline: 0;
    gap: 10px;
    border-radius: 15px 44px;
    height: 74px;
    padding: 10px 20px;
}

.text-field__input {
    color: white;
    background-color: black;
    border: 1px solid black;
    display: block;
    width: 182px;
}

.container-contant-2 {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.div-flex-row {
    display: flex;
    justify-content: space-between;
}

.div-flex-row-not-space-between {
    display: flex;
}

.div-circly {
    text-align: center;
    width: 75px;
    height: 75px;
    background: black;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: -65px;
    z-index: 1;
}

.text-white {
    color: white;
}

.div-flex-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.background-text-content-div {
    background-color: #FC552F;
    border-radius: 40px;
    width: 200px;
    height: 108px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.p-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
}

.p-text-left-div {
    padding-left: 60px;
    color: white;
}

.p-text-div {
    font-size: 20px;
}

.p-text-div-down {
    padding-top: 20px;
    padding-bottom: 10px;
}

.div-photo-content1 {
    width: 234px;
    height: 265px;
    border-radius: 40px;
    object-fit: cover;
}

.contant-div-2 {
    margin-top: 15px;
    margin-left: 43px;
}

.div-photo-content2 {
    width: 457px;
    height: 265px;
    border-radius: 40px;
    object-fit: cover;
}

.container-2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.div-display-flex-center {
    display: flex;
    align-items: center;
}

.orange-text {
    color:#FC552F;
}

.grid-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    grid-template-rows: auto;
    grid-gap: 30px;
}

.thin-border {
    border: 2px solid #F4F4F6;
    border-radius: 40px;
    padding: 20px 30px;
}

.container-3-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 36x;
    color: black;
    margin-bottom: 15px;
}

.body-2 {
    height: auto;
    width: auto;
    background-color: #F4F4F6;
    padding-top: 50px;
    padding-bottom: 50px;

}

.container-3 {
    width: 1000px;
    margin: 0 auto;
    border-width: 1.5px;
    border-radius: 70px;
    gap: 40px;
    padding: 50px;
    background-color: white;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(2, 490px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}

.container-3-content {
    width: 1000px;
    border-radius: 60px;
    border-width: 1px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 20px;
    background-color: #F4F4F6;
}

.thin-border-3 {
    width: 490px;
    height: min-content;
    border: 1px solid #F4F4F6;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    background-color: white;
}

.question-margin {
    margin-top: -151px;
    margin-right: -510px;
}

.text-3 {
    text-align: left;
    padding-left: 45px;
}

.plus-style {
    width: 35px;
    height: 35px;
    border: 5px black;
}

.plus-style-rotate {
    rotate: 45deg;
}

.without-margin-3 {
    text-align: left;
    padding-left: 3px;
    margin-bottom: 0;
}

.orange-div-content-div {
    width: 880px;
    height: 190px;
    padding: 20px 60px;
    background-color:#FC552F;
    border: 1px solid white;
    border-radius: 60px;
    gap: 10px;
}

.border-3 {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid white;
}

.white-text-in-orange-box {
    color: white;
}

.info {
    background-color: white;
    padding: 10px 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.info__switch {
    display: none;
}
  
.info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}
  
.info__switch:checked~.info__body {
    max-height: 250px;
}
  
.info__headline::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 35px;
    border: 6px solid black;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
  
.info__switch:checked~.info__headline::before {
    transform: rotate(180deg) translateY(6px);
}
  
.info__headline {
    padding-left: 45px;
    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;
}
  
.info__headline:hover {
    text-decoration: underline;
}

.background-div {
    border: 1px solid #F4F4F6;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
}

.footer {
    padding: 100px 50px;
    gap: 40px;
}

.logo-footer {
    color: white;
}

.footer-navigation {
    list-style: none;
    display: flex;
    padding: 0;
}

.footer-navigation-item-content {
    text-decoration: none;
    color: #F4F4F6;
    text-align: center;
}

.icon-footer-pin {
    width: 18px;
    height: 21px;
    top: 2px;
    left: 3px;
}

.icon-footer-mail {
    width: 20px;
    height: 16px;
    top: 4px;
    left: 2px;
}

.long-hr {
    width: 1000px;
    border: 1px solid #6E727E;
    opacity: 20%;
}

.footer-email-div {
    background-color: #1A1A1F;
    border: 1px solid #585858;
    border-radius: 60px;
    gap: 53px;
    padding: 55px;
    width: 890px;
}

.text-div-2 {
    width: 268px;
    height: 126px;
}

.email-div-footer {
    width: 556px;
}

.footer-end {
    gap: 10px;
    width: 1000px;
}

.footer-color {
    text-decoration: none;
    font-weight: 300;
    color: #F4F4F6;
    text-align: center;
}